body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main-color{
    background-color: midnightblue !important;
}
.banner{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0, 0.4),rgba(0,0,0, 0.4)), url('../image/local6.jpg');
    background-size: cover;
    background-position: center;
}
.hovered-card{
    transition: .3s;
}
.hovered-card:hover{
    transform: scale(1.1);
}
.icon-service{
    width: 90px;
    height: 90px;
    border: solid white 2px;
    border-radius: 50%;
    color: white;
}

.content-subscribe{
    background-color: rgba(0, 0, 0, 0.7);
}

.banner-produk{
    height: 50vh;
    background: linear-gradient(rgba(0,0,0, 0.6),rgba(0,0,0, 0.6)), url('../image/local6.jpg');
    background-size: cover;
    background-position: center;
}